<div class="table-responsive">
    <h2>Accident Tracking</h2>
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>

    <table class="table table-condensed table-striped table-bordered">
        <thead>
        <tr title="Accident Tracking">
            <th><span>#</span></th>
            <th><span>Ημ/νία & Ωρα</span></th>
            <th><span>Οχήματα</span></th>
            <th><span>Ασγαλισμένοι</span></th>
            <th><span>Οδηγοί</span></th>
            <th><span>Σοβ.Τραυμ</span></th>
            <th><span>Διεύθυνση</span></th>
            <th><span>Φωτογραφίες</span></th>
            <th><span>Κατάσταση</span></th>
            <th><span>Ενέργεια</span></th>
        </tr>
        </thead>

        <tr ng-repeat="accident in vm.accidents | orderBy:date"> <!--TODO CHANGE TO CORRECT PROPERTY-->
            <td></td>

            <td><small>{{logger.name | characters:140}}</small></td>
            <td>
                <button ng-click="vm.changeLevel(logger.name, 'TRACE')" ng-class="(logger.level=='TRACE') ? 'btn-danger' : 'btn-default'" class="btn btn-default btn-xs">TRACE</button>
                <button ng-click="vm.changeLevel(logger.name, 'DEBUG')" ng-class="(logger.level=='DEBUG') ? 'btn-warning' : 'btn-default'" class="btn btn-default btn-xs">DEBUG</button>
                <button ng-click="vm.changeLevel(logger.name, 'INFO')" ng-class="(logger.level=='INFO') ? 'btn-info' : 'btn-default'" class="btn btn-default btn-xs">INFO</button>
                <button ng-click="vm.changeLevel(logger.name, 'WARN')" ng-class="(logger.level=='WARN') ? 'btn-success' : 'btn-default'" class="btn btn-default btn-xs">WARN</button>
                <button ng-click="vm.changeLevel(logger.name, 'ERROR')" ng-class="(logger.level=='ERROR') ? 'btn-primary' : 'btn-default'" class="btn btn-default btn-xs">ERROR</button>
            </td>
        </tr>
    </table>
</div>

